@import url("https://fonts.googleapis.com/css?family=Short+Stack&display=swap");

* {
    margin: 0;
    padding: 0; 
    list-style: none;
    text-decoration: none;
    outline: none;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-repeat: no-repeat;
    font-family: 'Short Stack';
}

::selection {
    color: #222222;
    text-shadow: 1px 1px 1px gray,
        1px 1px 2px gray,
        1px 1px 3px gray;

}

.svg {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 98vh;
    background: linear-gradient(#ffffff 30%, #4174ff);
}

svg {
    position: absolute;
    bottom: 0;
    left: 0;
}

.search_icon {
    position: absolute;
    top: 15px;
    left: 15px;
    border: 1px solid #555555;
    border-left: none;
    display: none;
    border-radius: 50% 67% 17% 41% / 46% 56% 73% 18%;
    padding: 10px;
    z-index: 1;
    color: #555555; 
    background: linear-gradient(-45deg, #d3d2d2, transparent 60%);
} 

.navbar_icon {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
    border: 1px solid #555555;
    border-left: none;
    border-radius: 41% 17% 67% 50% / 18% 73% 56% 46%;
    padding: 10px; 
    display: none;
    color: #555555;
    transform: rotate(180deg);
    background: linear-gradient(-135deg, #d3d2d2, transparent 60%);
}

.navbar_icon:hover, .search_icon:hover {
    background: transparent;
}

div ul.menu{
    z-index: 11111111;
    position: absolute;
    top: 0;
    right: 0;
} 

div ul.menu li{
    transform: rotate(90deg);
    margin: 60px 5px;
    font-size: 20px;
} 
div ul.menu li a{ 
    text-transform: uppercase;
}
div ul.menu li a:hover{
    text-decoration: none;
    text-shadow: 0px 0px 30px #000000; 
} 




.header_text{
    position: absolute;
    height: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
    -webkit-text-stroke: 1px #555555;
}

.header_text .type_text{
    color: #3345e2;
}

  .animation__header_text{
    animation: animation__header_text linear 2s infinite alternate;
}

@keyframes animation__header_text {
    0%{
        color : #3484fd;
    }
    20%{
        color:  #435cca;
    }
    40%{
        color: rgb(111, 0, 255);
    }
    60%{
        color: #6668eb;
    }
    80%{
       color: #2a5ae0;
    }
    100%{
        color:  #3757e4;
    }
}
 
.container{
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    background-attachment: fixed;
    width: 100%;
}

.container img{
    height: 40vh;
    
}

.container .row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
  



@media (max-width: 700px){

    .navbar_icon, .search_icon {
        display: block;
    }
                        
    div ul.menu{
        position: fixed;
        top: 0; 
        left: 0; 
        height: 100vh;
        overflow: hidden; 
        width: 100vw; 
        z-index: 2; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
        flex-direction: column; 
        font-size: 2rem; 
        text-align: center; 
        transition: all .3s linear; 
        transform-origin: top right;
        transform: scale(0); 
        clip-path: polygon(75% 0, 100% 24%, 100% 100%, 0 100%, 0 0);
    } 

    div ul.menu li a{
        color: #555555;
        font-weight: bold;  
        overflow: hidden;
    } 

    div ul.menu li a::before{
        content: attr(data-text);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        font-size: 60px;   
        display: none; 
        opacity: .2;  
        transition: letter-spacing .8s ease-in-out; 
    }

    div ul.menu li a:hover::before {  
        display: block;
        letter-spacing: 20px;
    }

    div ul.menu li a:hover{
        text-decoration: none;
        text-shadow: none;
    }

    div ul.menu li { 
        transform: scale(0);
        margin: 5px 50px;
        font-size: 1.5rem;
    } 

    div ul.menu li:nth-child(1){
       transition: all .3s .3s linear; 
    }

    div ul.menu li:nth-child(2){ 
       transition: all .3s .4s linear; 
    }

    div ul.menu li:nth-child(3){ 
       transition: all .3s .5s linear; 
    }

    div ul.menu.active{
        background: linear-gradient(rgba(255, 251, 251, 0.9), rgba(158, 157, 157, 0.9)); 
        display: flex;
        transform: scale(1);
    }

    div ul.menu.active li{ 
        transform: scale(1);
    } 

    div.searchbar{
        position: fixed; 
        text-align: center;
        height: 100vh;
        display: grid;
        place-items: center;
        width: 100vw; 
        background: linear-gradient(rgba(255, 251, 251, 0.9), rgba(158, 157, 157, 0.9)); 
        transform: scale(0);
        transition: all .3s linear; 
        opacity: 0;
        transform-origin: top left;
        clip-path: polygon(26% 0, 100% 0, 100% 100%, 0 100%, 0 23%);
        z-index: 2;
        overflow: hidden;
    } 

    div.searchbar.active{
        transform: scale(1);
        opacity: 1;
    }

    #search_input{
        width: 100%; 
        font-size: 1.3rem; 
        padding: 5px 10px;
        background: transparent;
        border: 1px solid #555555; 
        transition: all .3s .3s linear;
        border-radius: 5px;
        text-indent: 10px;
        transform: scale(0);
    }

    #search_button{ 
        transition: all .3s .4s linear;
        transform: scale(0);
        border: 1px solid #555555; 
        border-radius: 5px;
        padding:2px 10px;
        background: transparent ;
    }

    div.searchbar.active #search_input, div.searchbar.active #search_button{
        transform: scale(1);
    }

    #search_input:focus{
        box-shadow: 1px 1px 5px 1px rgb(152, 152, 167),
                    1px -1px 7px 2px rgb(100, 100, 102);
        border-radius: 5px; 
    }

}